<div class="row">
    <div class="col">
        <h2 class="">Tabel Belum Regis</h4>
    </div>
    <div class="col d-flex justify-content-end">
        <!-- <div class="me-2">
            <a href="/export/mahasiswa" class="btn btn-outline-azure"><i class="fa fa-solid fa-file-import me-2"></i> Export Data</a>
        </div> -->
        <div class="me-2">
            <a href="/import/mahasiswa" class="btn btn-outline-secondary"><i class="fa fa-solid fa-file-import me-2"></i> Import Data</a>
        </div>
        <div class="ms-1">
            <button class="btn btn-primary btn-tambah" type="button" data-bs-toggle="modal"
            data-bs-target="#modalMhsTambah"><i class="fa fa-solid fa-plus me-2"></i>
            Tambah</button>
        </div>
    </div>
</div>