<!-- Modal -->
<div class="modal fade" id="modalMhsTambah" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Tambah <%- title%> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="formMhs">
                    <div class="row">
                        <input type="hidden" name="id" id="id">
                        <div class="col mb-3">
                            <label for="" class="form-label">NIM Mahasiswa</label>
                            <input type="text" name="nim" id="nim" class="form-control nim"
                                placeholder="NIM Mahasiswa" />
                            <small class="text-danger error_nim"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="" class="form-label">Nama Mahasiswa</label>
                            <input type="text" name="nama" id="nama" class="form-control nama"
                                placeholder="Nama Mahasiswa" />
                            <small class="text-danger error_nama"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="" class="form-label">Jurusan</label>
                            <select id="jurusan" name="jurusan" class="form-select jurusan" style="width: 100%;">
                                <option value="">-- Pilih --</option>
                                <option value="JTI">JTI</option>
                                <option value="JTIN">JTIN</option>
                                <option value="AKTP">AKTP</option>
                            </select>

                            <small class="text-danger error_jurusan"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="" class="form-label">Prodi</label>
                            <select id="prodi" name="prodi" class="form-select prodi" style="width: 100%;">
                                <option value="">-- Pilih --</option>
                                <option value="D3 - Teknik Elektronika">D3 - Teknik Elektronika</option>
                                <option value="D3 - Teknik Mekatronika">D3 - Teknik Mekatronika</option>
                                <option value="D3 - Teknik Komputer">D3 - Teknik Komputer</option>
                                <option value="D4 - Akuntansi Perpajakan">D4 - Akuntansi Perpajakan</option>
                                <option value="D4 - Sistem Informasi">D4 - Sistem Informasi</option>
                                <option value="D4 - Teknik Elektronika Telekomunikasi">D4 - Teknik Elektronika
                                    Telekomunikasi</option>
                                <option value="D4 - Teknik Informatika">D4 - Teknik Informatika</option>
                                <option value="D4 - Teknik Listrik">D4 - Teknik Listrik</option>
                                <option value="D4 - Teknologi Rekayasa Jaringan Telekomunikasi">D4 - Teknologi Rekayasa
                                    Jaringan Telekomunikasi</option>
                                <option value="D4 - Teknik Mesin">D4 - Teknik Mesin</option>
                            </select>

                            <small class="text-danger error_prodi"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="" class="form-label">No Kursi</label>
                            <input type="text" name="noKursi" id="noKursi" class="form-control kursi"
                                placeholder="No Kursi" />
                            <small class="text-danger error_kursi"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="" class="form-label">No Ijazah</label>
                            <input type="text" name="noIjazah" id="noIjazah" class="form-control ijazah"
                                placeholder="No Ijazah" />
                            <small class="text-danger error_ijazah"></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="submit">Simpan</button>
            </div>
        </div>
    </div>
</div>