<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="/mahasiswa/belum" class="nav-link <%- currentUrl == '/mahasiswa/belum' || currentUrl == '/mahasiswa' ? 'active' : '' %>">
            Mahasiswa Belum
        </a>
    </li>
    <li class="nav-item">
        <a href="/mahasiswa/sudah"
            class="nav-link <%- currentUrl == '/mahasiswa/sudah'   ? 'active' : '' %>">
            Mahasiswa Sudah
        </a>
    </li>

</ul>